# 忽略大的 .txt 和 .cplx 檔案
DSSS_reading_and_processing_ver_1/TOFAR's_code/*.cplx*
DSSS_reading_and_processing_ver_stud/*.txt
D:\大三下\專題程式練功\DSSS_reading_and_processing_ver_stud\data_coarse_synced.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/84_2024-10-25_02-53-29_cf2491.750.cplx.12500000.8t
DSSS_reading_and_processing_ver_stud/Matlab_code/data_coarse_synced.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/84_2024-10-25_02-53-29_cf2491.750.cplx.12500000.8t
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_coarse_synced.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_complex_output.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_filtered_output.txt
DSSS_reading_and_processing_ver_stud/Matlab_code/data.txt
DSSS_reading_and_processing_ver_stud/Matlab_code/data.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_RRC_matched.txt
# --- IGNORE ---
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_RRC_matched_RRC_D_4(copied_once).txt
