# 忽略大的 .txt 和 .cplx 檔案
DSSS_reading_and_processing_ver_1/TOFAR's_code/*.cplx*
DSSS_reading_and_processing_ver_stud/*.txt
D:\大三下\專題程式練功\DSSS_reading_and_processing_ver_stud\data_coarse_synced.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/84_2024-10-25_02-53-29_cf2491.750.cplx.12500000.8t
DSSS_reading_and_processing_ver_stud/Matlab_code/data_coarse_synced.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/84_2024-10-25_02-53-29_cf2491.750.cplx.12500000.8t
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_coarse_synced.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_complex_output.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_filtered_output.txt
DSSS_reading_and_processing_ver_stud/Matlab_code/data.txt
DSSS_reading_and_processing_ver_stud/Matlab_code/data.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_RRC_matched.txt
# --- IGNORE ---
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_RRC_matched_RRC_D_4(copied_once).txt
DSSS_reading_and_processing_ver_stud/Matlab_code/data.txt

DSSS_reading_and_processing_ver_1/TOFAR's_code/Sample_2_58_12.5M_20250623174159.928011.8t
DSSS_reading_and_processing_ver_1/TOFAR's_code/Sample_3_84_12.5M_20250623164303.422451.8t
DSSS_reading_and_processing_ver_1/TOFAR's_code/Sample_1/data_coarse_synced.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/Sample_1/data_complex_output.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/Sample_1/data_filtered_output.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/Sample_1/data_RRC_matched_RRC_D_4(copied_once).txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/Sample_1/data_RRC_matched.txt
DSSS_reading_and_processing_ver_stud/Matlab_code/data.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_RRC_matched_sample1_2.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_RRC_matched_sample1_4.txt
DSSS_reading_and_processing_ver_stud/result_data/final_reslt_2025_8_27_1945.txt
DSSS_reading_and_processing_ver_stud/result_data/no_noise_data.txt
DSSS_reading_and_processing_ver_stud/result_data/PRN1_correlation_table.txt
DSSS_reading_and_processing_ver_stud/result_data/PRN3_correlation_table.txt
DSSS_reading_and_processing_ver_stud/result_data/QPSK_result.txt
DSSS_reading_and_processing_ver_stud/result_data/rotate_result.txt
DSSS_reading_and_processing_ver_stud/result_data/rotation_correlation_result.txt
DSSS_reading_and_processing_ver_stud/result_data/Signal Processing Variables Breakdown_v3.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_RRC_matched_sample2_2.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/data_RRC_matched_sample2_4.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/Sample_1/data_RRC_matched_sample1_2.txt
DSSS_reading_and_processing_ver_1/TOFAR's_code/Sample_1/data_RRC_matched_sample1_4.txt
DSSS_reading_and_processing_ver_stud/result_data/correlation_result.txt
